version: '3.7'

services:

  co2mlo:
    build:
      context: co2-mlo-spo
      dockerfile: Dockerfile
    image: phaustin/co2mlo:jan28
    labels:
      - traefik.enable=true
      - traefik.http.routers.co2mlo.rule=Host(`{{ dashboard_domain }}`) && PathPrefix(`/co2mlo`)
      - traefik.http.routers.co2mlo.tls=true
      - traefik.http.routers.co2mlo.tls.certresolver=lets-encrypt
      - traefik.http.routers.co2mlo.service=co2mlo
      - traefik.http.services.co2mlo.loadbalancer.server.port=8050
      - traefik.http.routers.co2mlo.middlewares=co2mlo-stripprefix
      - traefik.http.middlewares.co2mlo-stripprefix.stripprefix.forceSlash=true
      - traefik.http.middlewares.co2mlo-stripprefix.stripprefix.prefixes=/co2mlo
    container_name: co2mlo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ network_name }}
    working_dir: /home/jovyan/dashdir
    command: gunicorn --workers=1 --threads=1 -b 0.0.0.0:8050 app:server

networks:
  {{ network_name }}:
    external: true
