http:
  middlewares:
    dashboard-strip-slash:
        redirectRegex:
          regex: (^.*\/dashboard$)
          replacement: "${1}/"
          permanent: false
    strip-prefix-start:
      redirectregex:
        regex:
          - "^(https?://[^/]+/[a-z0-9_]+)$"
        replacement:
          - "${1}/"
        permanent:
          - true
    strip-prefix-end:
      stripprefixregex:
        regex:
          - "/[a-z0-9_]+"
    dashboardAuth:
      basicAuth:
        users:
          - {{ dashboard_user_and_pw }} 
## see https://community.traefik.io/t/middleware-to-add-the-if-needed/1895/19
